body {
    background-repeat: repeat;
}
.container {
    background-color: #40424f;
}
li:hover {
    font-size: 20px;
    color: white;
    background-color: #40424f;
}
.non-visible {
    visibility: hidden;
}
.show {
    display: block;
    visibility: initial;
}
li {
    text-align: center;
    background-color: #eaeaea;
    color: 40424f;
    cursor: pointer;
    padding: 10px 0;
    font-size: 1.2em;
    width: 100%;
    margin: 6px auto;
    border: 2px solid #d6d6d6;
    display: block;
}

img {

    margin: 10px auto auto auto;
    border: 1px solid #d6d6d6
}
.ans {
    margin-top: 10px;
}

.gadget {
    margin-left: 30px;
    width: 148px;
    height: auto;
    float: right;
}
.gadget-top {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-color: #FBFAF6;
    width: 148px;
    height: 66px;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    color: #25252C;
}
.gadget-bottom {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #D1CBB6;
    width: 148px;
    height: 35px;
    position: relative;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.25);
    color: #494431;
    position: relative;
    margin: 0;
    border-top: 1px solid;
    border-radius: 0 0 5px 5px;
}
#total {
    color: #A9ABB4;
}

#begin {
    height: 700px;
}
#header-img {
    margin-top: 0px;
    text-align: center;
}

p {
    font-size: 50px;
    color: #D1CBB6;
    margin-top: 40px;
    border: 1px solid #D1CBB6;
    border-radius: 5px;
    background-color: #494431;
}

#start {
    margin-top: 40px;
}

#result {
    width: 100%;
    height: 700px;
    border: 1px solid #D1CBB6;
    margin: 40px auto auto 0px;
}
#result .gadget-rslt {
    width: 148px;
    height: 105px;
    margin: auto;
}
#result .row {
    margin-top: 20px;
    text-align: center;
}
#result .top {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-color: #FBFAF6;
    width: 148px;
    height: 66px;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    color: #25252C;
}
#result .bottom {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #D1CBB6;
    width: 148px;
    height: 35px;
    position: relative;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.25);
    color: #494431;
    position: relative;
    border-top: 1px solid;
    border-radius: 0 0 5px 5px;
}
h1 {
    font-size: 60px;
    color: #D1CBB6;
}